.card {
  background-color: #305082;
  color: #fefefe;
  border-radius: 3px;
  box-shadow: 0 2px 80px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 40px;
}

.input__container {
    color: #2e4369;
    font-size: 1.9rem;
    border-radius: 3px;
    display: flex;
}

.input__container:first-child {
    margin-bottom: 4rem;
}

.input__container input {
    color: #2e4369;
    background-color: #fff;
    border: 1px solid #d3d5d8;
    width: 100%;
    font-size: 1rem;
    padding-left: 1rem;
}

input:disabled {
  opacity: .6;
}

.input__container label {
    color: #FFF;
    background-color: #2e4369;
    border-color: #2e4369;
    display: flex;
    align-items: center;
    padding: 16px;
}